.side-nav{
    /*border: 1px solid red;*/
    height: 274px;
    width: 22%;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: white;


}

.side-nav ul{
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    /*border: 1px solid  black;*/
    width: 100%;

}
.side-nav ul li{
    border-bottom: 1px solid rgb(200,200,200);
}

.side-nav ul li:nth-child(6){
    border-bottom: none;
}


.side-nav .portfolio{
    background-color: #66cc99;
    border-bottom: 1px solid white;
}

.side-nav ul li{
    font-size: 18px;
    font-weight: 500;
    margin-left: 0;
    height: 45px;
    /*border: 1px solid   #231f20;*/
}
.side-nav ul li:hover{
    background-color: #66cc99;
}
.selected{
    background-color: #66cc99;
}

.side-nav ul li a{
    display: block;
    padding-top: 10px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

