<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
 <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" href="../static/css/index.css">
<body>
	<div class="welcome-page">
      <nav class="header">
          <div class="home">
              <a href="lecturer.html">Home</a>
          </div>
          <div >
          <a class="log-in" href="login.html">Login</a>
        </div>
      </nav>
      <div class="welcome">
          <div class="jumbotron">
              <h1 class="display-4">Welcome to comp9900!</h1>
              <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <hr class="my-4">
              <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
              <p class="lead">
                  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </p>
          </div>
      </div>
      <!--<div class="welcome">Welcome to COMP9323</div>-->
  </div>



<script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
<script  src="../static/js/index.js"></script>
 <!-- <script type="text/javascript" src="../static/js/lecturer/header-timeline.js"></script> -->
</body>
</html>